/* Import Font and Style Sheets */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import "styles/01_02_Dots.css";
@import "styles/03_04_Color_Wheel.css";
@import "styles/05_Eyes.css";
@import "styles/06_Pokeball.css";

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background: #1a0315;
  color: #88d317;
}

h1 {
  text-align: center;
  color: #88d317;
  margin: 10px 0;
}

.description {
  font-size: 1.3rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#animations {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px auto;
}

.animation {
  border: solid 5px #6e3667;
  border-radius: 5px;
  height: 200px;
  width: 150px;
  box-shadow: 5px 5px 10px #535353;
  margin: 10px;
}

.animation p {
  text-align: center;
  margin: 5px;
}

hr {
  border-color: #6e3667;
  border-width: 2px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #6e3667;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
}

a {
  background: #6e3667;
  text-decoration: none;
}
.animation-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100% - 50px);
}
