.color-wheel .wheel .spoke {
  border: solid 30px white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border-top-color: #6e3667;
  border-right-color: #88d317;
  border-bottom-color: #6e3667;
  border-left-color: #88d317;
  animation: colorWheel 0.75s infinite cubic-bezier(0.46, 0.62, 0, 0.74);
}

@keyframes colorWheel {
  100% {
    transform: rotate(360deg);
  }
}

.color-wheel2 .wheel .spoke {
  border: solid 30px white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border-top-color: #6e3667;
  border-right-color: #88d317;
  border-bottom-color: #6e3667;
  border-left-color: #88d317;
  animation: breathingColorWheel 2s infinite ease-in-out alternate;
}
@keyframes breathingColorWheel {
  100% {
    transform: scale(0.7) rotate(360deg);
  }
}
