.eyes .eyeballs .eye {
  height: 30px;
  width: 30px;
  background: white;
  border-top-left-radius: 70%;
  border-bottom-right-radius: 70%;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyes .eyeballs .eye .pupil {
  height: 10px;
  width: 10px;
  background: black;
  border-radius: 100%;
  animation: tickingEyes 1.5s infinite ease-in-out alternate;
}
@keyframes tickingEyes {
  0% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(-5px, 5px);
  }
}
