.pokeball .animation-container .ball {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pokeball 1s infinite alternate;
  transform-origin: center;
}
.pokeball .animation-container .ball .ball-background {
  height: 30px;
  width: 30px;
  border: solid 30px white;
  border-top-color: red;
  border-right-color: red;
  border-bottom-color: white;
  border-left-color: white;
  border-radius: 100%;
  transform: rotate(-45deg);
  position: absolute;
}
.pokeball .animation-container .ball .line {
  height: 10px;
  width: 60px;
  background: black;
  position: absolute;
}
.pokeball .animation-container .ball .circle {
  height: 30px;
  width: 30px;
  background: black;
  border-radius: 100%;
  position: absolute;
}
.pokeball .animation-container .ball .inner-circle {
  height: 15px;
  width: 15px;
  background: white;
  border-radius: 100%;
  position: absolute;
}
@keyframes pokeball {
  0% {
    transform: translateX(-10px) rotate(-15deg);
  }
  100% {
    transform: translateX(10px) rotate(15deg);
  }
}
